<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taotao.mapper.TbContentMapper">

    <delete id="deleteContentByCategoryId">
        DELETE FROM tbcontent
        <where>
            <if test="tbContents!=null and tbContents.size>0 ">
                <foreach collection="tbContents" open="id in(" separator="," close=")" item="tbContent">
                    #{tbContent.id}
                </foreach>
            </if>
        </where>


    </delete>



</mapper>
