<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taotao.mapper.TbItemMapper">
    <sql id="search">
        <where>
            <if test="title != ''">
                AND title LIKE "%${title}%"AND
            </if>
            price BETWEEN #{priceMin} AND #{priceMax}
            <if test="cId!=null">
                AND cId = #{cId}
            </if>
        </where>
    </sql>
    <update id="updateItemByIds">
        UPDATE tbitem SET status = #{type} , updated = #{date}
        <where>
            <foreach collection="ids" open="id in(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </update>

    <select id="findTbItemByLikeCount" resultType="int">
        SELECT count(*) FROM tbitem
        <include refid="search"/>
    </select>

    <select id="findTbItemLike" resultType="com.taotao.pojo.TbItem">
        SELECT * FROM tbitem
        <include refid="search"/>
        LIMIT #{page},#{limit}
    </select>

</mapper>
